.h1 {
  text-align: left;
  margin-left: 200px;
}

.papaDiv {
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px 100px; 
  grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;  
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  
}

.clock {
  grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 7;
}

.clockOverlay {
  grid-column-start: 3;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
    position: relative;
    top: 7px;
}

.section1 {
  grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
    position: relative;
    top: 37px;
    right: 55px;
}

@keyframes pop{
  50%  {transform: scale(1.2);}
}

.section1:hover {
    animation: pop 0.5s linear 1;
}

.section2 {
  grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 6;
    position: relative;
    left: 24px;
    top: 5px;
}

.section3 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 7;
  position: relative;
  bottom: 7px;
  left: 30px;
}

.section4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
  position: relative;
  top: 6px;
  left: 30px;
}

.section5 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  position: relative;
  top: 51px;
  left: 54px;
}

.doctorDiv {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  position: relative;
  top: 40px;
}

.bag {
  grid-column: 4;
  grid-row: 2;
  position: relative;
  bottom: 19px;
  left: 29px;
}

.bandage {
  grid-column: 7;
  grid-row: 2;
  position: relative;
  bottom: 19px;
  right: 29px;
}

.needle {
  grid-column: 4;
  grid-row: 4;
  position: relative;
  bottom: 10px;
  right: 42px;
}

.pills {
  grid-column: 7;
  grid-row: 4;
  position: relative;
  bottom: 10px;
  left: 42px;
}

.steth {
  grid-column: 5;
  grid-row: 5;
  position: relative;
  top: 39px;
  left: 53px;
}